#header {
	font-size:50;
	font-weight: bold;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	}

#footer{
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;	
	
	
	}				


a:link{
	color:green;
}
a:visited{
	color:red;
	}

a:hover{
	font-weight:bold;
	}

a:active{
	text-decoration:none;
	text-decoration:no-underline;
	}

	
	
	

			